html{
    font-size: 16px;
}

body{
    position: relative;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: aliceblue;
    min-width: 320px;
    margin: 5px 0px;
    padding: 5px 10px 1px 0px;
}

img{
    max-width: 100%;
    height: auto;
}

section{
    padding: 0px 20px 10px 10px;
}

/*---------------HEADER------------  */
.navbar-expand-lg .navbar-nav {
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-transform: uppercase;
}

nav.navbar.fixed-bottom.navbar-expand-lg {
    background-color: rgb(166, 190, 126);
}
.top-menu li a::after{
    content: '';
    display: block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}
.top-menu li a:hover::after{
    transform: scale(1);
}

/*---------------MENU-BUTTON------------  */
.fixed-bottom {
    padding: 0px 10px 10px 10px;
}
.btn-group {

}
.btn-group-lg {
}
.btn {
}
.btn-success {
}
.btn-secondary {
}