html{
    font-size: 16px;
}

body{
    position: relative;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    min-width: 320px;
    margin: 0px 0px;
    padding: 0px 0px 0px 0px;
}


/*---------------HEADER------------  */
.topnav {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
  color: #00000094; /* Цвет ссылки */
}
.topnav a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: #00000094; /* Цвет ссылки */
}

.topnav a:hover {
    text-decoration: underline;
}

.topnav a.nav-item{
    text-decoration: underline;
}
/*---------------MENU-BUTTON------------  */

.short{
    display: block;
}

section{
    padding: 10px 10px 10px 10px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    display: block;
}

.col-2, .col-4, td{
    text-align: center;
}

table{
    border-collapse: collapse;
}

tr, th, td{
    border: 1px solid black;
}

#task-list{
    display: block;
    margin: 0 auto;
}
