
$font-stack: 'Open Sans'
$primary-color: #ffffff
$task-color: #ececec
$border-color: #6c757d
$border-color-check: rgb(115 207 104 / 25%)
$checked-color:  green

html,
body
    height: 100%
    background: $primary-color
    font-size: 16px
    font-weight: 700
    font: $font-stack

.topnav a
    text-decoration: none
    color: #00000094

.topnav a:hover 
    text-decoration: underline
    color: #adadad94

.topnav a.nav-item
    text-decoration: underline

.container 
    width: 100%
    height: auto

.task-list
    border: 2px solid $task-color
    box-shadow: 3px 3px 4px $task-color


.text-center
    padding-bottom: 15px

.btn-center
    border: 2px solid $border-color


.form-check-input:checked
    background-color: $checked-color
    border-color: $border-color-check

.form-check-input .form-check-input:checked
  background-color: green!important

.spinner-container 
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-items: center


.spinner__img 
    width: 50px
    height: 50px
