
$font-stack: 'Open Sans'
$primary-color: #ffffff
$task-color: #ececec
$border-color: #6c757d
$border-color-check: rgb(115 207 104 / 25%)
$checked-color:  green

html,
body
    height: 100%
    background: $primary-color
    font-size: 16px
    font-weight: 700
    font: $font-stack

.container 
    width: 100%
    height: auto

.task-list
    border: 2px solid $task-color
    box-shadow: 3px 3px 4px $task-color


.text-center
    padding-bottom: 15px

.btn-center
    border: 2px solid $border-color


.form-check-input:checked
    background-color: $checked-color
    border-color: $border-color-check

.form-check-input .form-check-input:checked
  background-color: green!important

